@font-face {
    font-family: glrHeader;
    src: url("CaeciliaLTStd-Heavy.otf");
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #d6d6d6;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: glrHeader, serif;
    margin: 0 auto;
    padding: 0.5em;
}

#container {
    min-height: 100%;
    margin-bottom: -45px;
}

#container::after {
    content: "";
    display: block;
}

.white {
    color: #ffffff;
}

/* Header Wrapper */
#header {
    height: 90px;
    width: 100%;
    background-color: #e7e7e7;
    min-width: 920px;
    position: relative;
}

/* Header Logo */
.header_img {
    height: 160px;
    width: 160px;
    position: absolute;
    top: 15px;
    left: 15px;
}

#header ul {
    text-align: left;
    position: absolute;
    left: 190px;
    display: inline-block;
    margin: 20px 0 0 0;
    list-style: none;
    font-family: glrHeader, sans-serif;
    z-index: 50000;
}

pre.test, form.test {
    padding-left: 250px;
}

#header ul li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    background: #e7e7e7;
    color: #686868;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#header a {
    color: inherit;
}

#header ul li ul {
    padding: 0;
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    margin-top: 0;
}

#header ul li ul li {
    background: #e7e7e7;
    display: block;
    color: #686868;
}

#header ul li ul li:hover {
    background: #424242;
    color: #fff;
}

#header ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

#header_inloggen {
    min-width: 500px;
    height: 100%;
    /*background-color: #8fe508;*/
    position: absolute;
    right: 15px;
    max-width: 100vw;
}

#header_inloggen > div {
    float: left;
}

#zoekbar {
    margin-top: 25px;
    font-family: Roboto, sans-serif;
    width: 150px;
    height: 40px;
    background-color: white;
    border: solid #e7e7e7;
    border-radius: 90px;
    box-shadow: 5px 5px 5px #cbcbcb inset;
    color: #686868;
}

#zoeken {
    margin: 10px;
}

#zoeken input[type=text] {
    border: none;
    font-family: Roboto, sans-serif;
    width: 80px;
    float: left;
    margin-top: 2px;
    background-color: transparent;
    color: #171717;
}

#zoeken input[type="text"]:focus {
    outline: none;
    font-family: Roboto, sans-serif;
}

#zoeken input[type="submit"] {
    width: 20px; /* width of image */
    height: 20px; /* height of image */
    border: 0;
    float: right;
    margin-top: -3px;
    background-color: transparent;
}

#profilepic {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 20px;
    float: left;
}

.profilepic {
    border-radius: 90px;
    width: 100%;
    height: 100%;
}

#ingelogd_user {
    font-family: Roboto, sans-serif;
    height: 20px;
    margin-top: 35px;
    margin-left: 10px;
    display: inline-block;
    color: #686868;
}

#ingelogd_user a {
    color: #686868;
    padding-left: 30px;
}

#ingelogd_user a:visited {
    color: #686868;
}

#ingelogd_user a:hover {
    color: #8fe508;
}

#lastuploaded {
    min-height: 500px;
    background-color: #171717;
    border-bottom: solid #8fe508 15px;
    box-shadow: -2px 10px 50px gray;
}

#videopreview_page {
    min-height: 900px;
    padding-bottom: 24px;
    background-color: #171717;
    border-bottom: solid #8fe508 15px;
    box-shadow: -2px 10px 50px gray;
}

.videopreview_page_video {
    min-height: 720px;
    width: 1280px;
    margin: auto;
    padding-top: 100px;
}

#lastuploaded_title {
    width: 520px;
    padding-top: 40px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    color: #e8e8e8;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}

.lastuploaded_videos {
    margin: 2em auto;
}

.lastuploaded_videos ul li {
    display: inline-block;
    margin: 0 auto;
}

.lastuploaded_videos ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1560px;
    margin: 0 auto;
}

.videopreview {
    font-family: Roboto, sans-serif;
    height: 300px;
    width: 500px;
    background-color: #8fe508;
    box-sizing: content-box;
    margin-top: 1em;
}

.videopreview a {
    color: inherit;
    text-decoration: inherit;
}

.videopreview img {
    height: 100%;
    width: 100%;
}

.videobeschrijving {
    position: relative;
    color: #000;
    width: 100%;
    height: 80px;
    margin-top: -84px;
    background: rgba(255, 255, 255, 0.6);
    border-top: solid #8fe508 5px;
}

.videopreview_title {
    width: 100%;
    white-space: nowrap;
    font-weight: bold;
    padding: 5px 10px 0 10px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.videopreview_owner {
    width: 100%;
    white-space: nowrap;
    font-size: 14px;
    margin-left: 10px;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.videopreview_date {
    width: 100%;
    white-space: nowrap;
    font-size: 12px;
    margin-left: 10px;
    padding-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#body {
    min-height: 600px;
    height: 100%;
    display: flex;
}

#content {
    font-family: Roboto, sans-serif;
    float: left;
    height: 90%;
    width: 900px;
    color: #686868;
    margin: 40px 0 0 200px;
}

#links {
    float: right;
    height: 200px;
    width: 375px;
    margin: 40px 10px 0 10px;
    color: #000;
    font-family: Roboto, sans-serif;
}

#links a {
    color: #000;
}

#links a:hover {
    color: #8fe508;
}

.links img {
    height: 180px;
    width: 375px;
}

footer {
    font-family: Roboto, sans-serif;
    height: 40px;
    width: 100%;
    background-color: #171717;
    color: #e8e8e8;
    border-top: solid 5px #282828;
    line-height: 40px;
    text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    clear: both;
}

.material-icons {
    font-size: inherit;
    line-height: inherit;
}

#category {
    font-family: Roboto, sans-serif;
    min-height: 90%;
    color: #686868;
    margin: 0 auto;
    padding: 2em;
}

.category_title {
    color: #424242;
    font-size: x-large;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: -40px;
}

#index {
    height: 400px;
    width: 900px;
    margin: 100px auto auto;
    padding: 30px 30px;
    background-color: #e7e7e7;
}

video {
    max-width: 100vw;
}

#dashboard {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 100px 60px;
    display: flex;
}

#information {
    height: 100%;
    width: 80%;
}

#dashboard_URL {
    height: 100%;
    width: 20%;
}

/*
#information {
    margin-left: 200px;
}*/

#information tr {
    border-bottom: solid 2px black;
}

#information .textbox {
    width: 200px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.videoContainer {
    width: calc(100% + 20px);
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    max-width: calc(1500px + 2em);
    flex-wrap: wrap;
}

.videoContainer .videopreview:not(:last-of-type) {
    margin: 1em 5px;
}

.indexImage {
    width: 150px;
    height: 150px;
    background: url(GLRLogo.png);
    display: inline-block;
    position: relative;
    left: 325px;
    top: -100px;
}

.loginContainer h2{
    font-family: glrHeader, sans-serif;
    color: #686868;
    margin: 0;
}

.loginContainer{
    width: 100%;
    margin: -70px 0;
}

.indexLabel{
    font-family: glrHeader, sans-serif;
    color: #686868;
    float: left;
    margin-top: -50px;
}

.login {
    margin: 200px auto 0;
    width: 810px;
    height: 600px;
    background-color: #e7e7e7;
    box-shadow: 0 0 30px 0 rgba(84, 83, 84, 0.5);
    border-top: solid 20px #8fe508;
}

#login_div {
    font-family: Roboto, sans-serif;
    float: left;
    text-align: center;
    line-height: 20px;
    padding: 20px 100px 100px;
}

#login_div input{
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    padding: 5px;
}

.submit{
    margin-top: 25px;
    font-family: Roboto, sans-serif;
    width: 150px;
    height: 30px;
    background-color: #8fe508;
    border: solid #8fe508;
    color: #686868;
    transition: background-color 0.2s;
}

.submit:hover{
    background-color: #c2fa6b;
    border: solid #c2fa6b;
    color: #686868;
    cursor: pointer;
}

body.background {
    background: url("http://pre02.deviantart.net/3c06/th/pre/f/2014/314/4/4/opensuse_wallpaper_by_anupespe-d85y2l0.png");
    background-size: cover;
}

.loginFeedback {
    position: relative;
    top: -70px;
    text-align: center;
    color: red;
}

@media (min-width: 1px) and (max-width: 910px) {

    @font-face {
        font-family: glrHeader;
        src: url("CaeciliaLTStd-Heavy.otf");
    }

    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        background-color: #d6d6d6;
        font-family: "Roboto", sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: glrHeader, serif;
        margin: 0 auto;
        padding: 0.5em;
    }
    .white {
        color: #ffffff;
    }

    /* Header Wrapper */
    #header {
        height: 90px;
        width: 100%;
        background-color: #e7e7e7;
        min-width: 920px;
        position: relative;
    }

    /* Header Logo */
    .header_img {
        height: 160px;
        width: 160px;
        position: absolute;
        top: 15px;
        left: 15px;
    }

    #header ul {
        text-align: left;
        position: absolute;
        left: 190px;
        display: inline-block;
        margin: 20px 0 0 0;
        list-style: none;
        font-family: glrHeader, sans-serif;
        z-index: 50000;
    }

    pre.test, form.test {
        padding-left: 250px;
    }

    #header ul li {
        display: inline-block;
        margin-right: -4px;
        position: relative;
        padding: 15px 20px;
        background: #e7e7e7;
        color: #686868;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

    #header a {
        color: inherit;
    }

    #header ul li ul {
        padding: 0;
        position: absolute;
        top: 50px;
        left: 0;
        width: 200px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        transition: opacity 0.2s;
        margin-top: 0;
    }

    #header ul li ul li {
        background: #e7e7e7;
        display: block;
        color: #686868;
    }

    #header ul li ul li:hover {
        background: #424242;
        color: #fff;
    }

    #header ul li:hover ul {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    #header_inloggen {
        min-width: 500px;
        height: 100%;
        /*background-color: #8fe508;*/
        position: absolute;
        right: 15px;
        max-width: 100vw;
    }

    #header_inloggen > div {
        float: left;
    }

    #zoekbar {
        margin-top: 25px;
        font-family: Roboto, sans-serif;
        width: 150px;
        height: 40px;
        background-color: white;
        border: solid #e7e7e7;
        border-radius: 90px;
        box-shadow: 5px 5px 5px #cbcbcb inset;
        color: #686868;
    }

    #zoeken {
        margin: 10px;
    }

    #zoeken input[type=text] {
        border: none;
        font-family: Roboto, sans-serif;
        width: 80px;
        float: left;
        margin-top: 2px;
        background-color: transparent;
        color: #171717;
    }

    #zoeken input[type="text"]:focus {
        outline: none;
        font-family: Roboto, sans-serif;
    }

    #zoeken input[type="submit"] {
        width: 20px; /* width of image */
        height: 20px; /* height of image */
        border: 0;
        float: right;
        margin-top: -3px;
        background-color: transparent;
    }

    #profilepic {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }

    .profilepic {
        border-radius: 90px;
        width: 100%;
        height: 100%;
    }

    #ingelogd_user {
        font-family: Roboto, sans-serif;
        height: 20px;
        margin-top: 35px;
        margin-left: 10px;
        display: inline-block;
        color: #686868;
    }

    #ingelogd_user a {
        color: #686868;
        padding-left: 30px;
    }

    #ingelogd_user a:visited {
        color: #686868;
    }

    #ingelogd_user a:hover {
        color: #8fe508;
    }

    #lastuploaded {
        min-height: 500px;
        background-color: #171717;
        border-bottom: solid #8fe508 15px;
        box-shadow: -2px 10px 50px gray;
    }

    #videopreview_page {
        min-height: 900px;
        padding-bottom: 24px;
        background-color: #171717;
        border-bottom: solid #8fe508 15px;
        box-shadow: -2px 10px 50px gray;
    }

    .videopreview_page_video {
        min-height: 720px;
        width: 1280px;
        margin: auto;
        padding-top: 100px;
    }

    #lastuploaded_title {
        width: 520px;
        padding-top: 40px;
        margin: 0 auto;
        font-family: Roboto, sans-serif;
        color: #e8e8e8;
        text-align: center;
        font-weight: bold;
        font-size: 26px;
    }

    .lastuploaded_videos ul li {
        display: inline-block;
        margin: 0 auto;
    }

    .lastuploaded_videos ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1560px;
        margin: 0 auto;
    }

    .videopreview {
        font-family: Roboto, sans-serif;
        height: 300px;
        width: 500px;
        background-color: #8fe508;
        box-sizing: content-box;
        margin-top: 1em;
    }

    .videopreview img {
        height: 100%;
        width: 100%;
    }

    .videobeschrijving {
        position: relative;
        color: #000;
        width: 100%;
        height: 80px;
        margin-top: -84px;
        background: rgba(255, 255, 255, 0.6);
        border-top: solid #8fe508 5px;
    }

    .videopreview_title {
        width: 100%;
        white-space: nowrap;
        font-weight: bold;
        padding: 5px 10px 0 10px;
        font-size: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .videopreview_owner {
        width: 100%;
        white-space: nowrap;
        font-size: 14px;
        margin-left: 10px;
        padding-top: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .videopreview_date {
        width: 100%;
        white-space: nowrap;
        font-size: 12px;
        margin-left: 10px;
        padding-top: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #body {
        min-height: 600px;
        height: 100%;
        display: flex;
    }

    #content {
        font-family: Roboto, sans-serif;
        float: left;
        height: 90%;
        width: 900px;
        color: #686868;
        margin: 40px 0 0 200px;
    }

    #links {
        float: right;
        height: 200px;
        width: 375px;
        margin: 40px 10px 0 10px;
        color: #000;
        font-family: Roboto, sans-serif;
    }

    #links a {
        color: #000;
    }

    #links a:hover {
        color: #8fe508;
    }

    .links img {
        height: 180px;
        width: 375px;
    }

    footer {
        font-family: Roboto, sans-serif;
        height: 40px;
        width: 100%;
        background-color: #171717;
        color: #e8e8e8;
        border-top: solid 5px #282828;
        line-height: 40px;
        text-align: center;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        clear: both;
    }

    .material-icons {
        font-size: inherit;
        line-height: inherit;
    }

    #category {
        font-family: Roboto, sans-serif;
        min-height: 90%;
        color: #686868;
        margin: 40px 40px 0 200px;
    }

    .category_title {
        color: #424242;
        font-size: x-large;
        font-weight: bold;
        margin-left: 10px;
        margin-bottom: -40px;
    }

    #index {
        height: 400px;
        width: 900px;
        margin: 100px auto auto;
        padding: 30px 30px;
        background-color: #e7e7e7;
    }

    video {
        max-width: 100vw;
    }

    #dashboard {
        width: 100%;
        height: 600px;
        margin: 0 auto;
        padding: 100px 60px;
        display: flex;
    }

    #information {
        height: 100%;
        width: 80%;
    }

    #dashboard_URL {
        height: 100%;
        width: 20%;
    }

    #information {
        margin-left: 200px;
    }

    #information tr {
        border-bottom: solid 2px black;
    }

    #information .textbox {
        width: 200px;
        height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .videoContainer {
        width: calc(100% + 20px);
        min-height: 300px;
        display: flex;
        justify-content: space-between;
        max-width: calc(1500px + 2em);
        flex-wrap: wrap;
    }

    .videoContainer .videopreview:not(:last-of-type) {
        margin: 1em 5px 1em 0;
    }

    .indexImage {
        width: 150px;
        height: 150px;
        background: url(GLRLogo.png);
        display: inline-block;
        position: relative;
        left: 125px;
        top: -100px;
    }

    .loginContainer {
        margin: -70px 0;
    }

    .loginContainer h2{
        font-family: glrHeader, sans-serif;
        color: #686868;
        margin: 0;
    }

    .login {
        margin: 200px auto 0;
        width: 400px;
        height: 850px;
        background-color: #e7e7e7;
        box-shadow: 0 0 30px 0 rgba(84, 83, 84, 0.5);
        border-top: solid 20px #8fe508;
    }

    #login_div {
        font-family: Roboto, sans-serif;
        float: none;
        text-align: center;
        line-height: 20px;
        padding: 20px 100px 100px;
    }

    #login_div input{
        width: 200px;
        height: 30px;
        outline: none;
        border: none;
        padding: 5px;
    }

    .submit{
        margin-top: 25px;
        font-family: Roboto, sans-serif;
        width: 150px;
        height: 30px;
        background-color: #8fe508;
        border: solid #8fe508;
        color: #686868;
        transition: background-color 0.2s;
    }

    .submit:hover{
        background-color: #c2fa6b;
        border: solid #c2fa6b;
        color: #686868;
        cursor: pointer;
    }

    body.background {
        background: url("http://pre02.deviantart.net/3c06/th/pre/f/2014/314/4/4/opensuse_wallpaper_by_anupespe-d85y2l0.png");
        background-size: cover;
    }

    .loginFeedback {
        position: relative;
        top: -70px;
        text-align: center;
        color: red;
    }

}